@import url('https://raw.githubusercontent.com/computer-catt/discord-themes/meow-patch-2/Theme%20code/transparent-popups.css');

/* the theme */
.appMount__51fd7 {
  background-image: var(--theme-background-image) !important;
  background-size: cover !important;
}

.app__160d8 {
  background-color: transparent;
}

.bg__960e4 {
  background-color: var(--theme-transparency);
}

/*.tutorialContainer-2sGCg9
  .wrapper_cc5dd2
  .childWrapper_a6ce15
  .homeIcon-FuNwkv {
  visibility: hidden;
}

.tutorialContainer-2sGCg9
  .listItem-GuPuDH
  .listItemWrapper-KhRmzM
  .wrapper__8436d
  .childWrapper_a6ce15 {
  background-color: transparent;
}

.homeIcon-tEMBK1 {
  visibility: hidden;
}*/

.tutorialContainer-2sGCg9
.listItem-GuPuDH
.listItemWrapper-KhRmzM
.wrapper__8436d
svg {
  opacity: 0;
}

.titleBar__421ed {
  background-color: transparent;
}

.app__160d8 {
  background-color: transparent;
}

.bg__960e4 {
  background-color: var(--theme-transparency);
}

.wrapper_ef3116,
.scroller_ef3116 {
  background-color: transparent;
}

/* FRIENDS SIDEBAR */
.sidebar_c48ade {
  background: transparent;
}

.privateChannels__35e86 {
  background-color: transparent;
}

.scroller__99e7c {
  background-color: transparent;
}

.searchBar__35e86 .searchBarComponent__35e86 {
  background-color: transparent;
}

/* USER INFO */
.panels_c48ade {
  background-color: transparent;
}

.theme-dark .container__133bf {
  background-color: transparent;
}

.container__9293f.themed__9293f {
  background: transparent;
}

.nowPlayingColumn__133bf {
  background: transparent;
}

.headerNormal-1l1Znk {
  background-color: var(--small-user-popout-background-transparency);
}

.headerTop-2y3V6H {
  background-color: transparent;
  border-bottom: none;
}

.avatar-22FtUu {
  border: none;
  background-color: transparent;
}

.input_df4dd0 {
  background-color: transparent;
}

.avatarHint-1E3LMl {
  top: 0 !important;
  left: 0 !important;
}

/* CHAT SIDER */
.container__2637a {
  background-color: transparent;
}

/* CHAT BODY */
.chat_f75fb0 {
  background: transparent;
}

.chat_f75fb0 {
  background: transparent;
}

/* CHAT MEMBERS */
.members_c8ffbb,
.members_c8ffbb > div {
  background-color: transparent;
}

.chatContent_f75fb0 {
  background: transparent;
}

.container_c8ffbb {
  background: transparent;
}

.members_c8ffbb {
  background: transparent;
}

.member_c8ffbb {
  background: transparent;
}

.theme-dark .container__37e49 {
  background: transparent;
}

.container_e131a9 {
  background: transparent;
}

.button_e131a9.buttonColor_e131a9,
.button_e131a9 .buttonColor_e131a9 {
  background-color: var(--video-screen-button-background-color);
}

.button_e131a9.buttonColor_e131a9:hover,
.button_e131a9 .buttonColor_e131a9:hover {
  background-color: var(--video-screen-button-background-hovor-color);
}

.channelTextArea_f75fb0 {
  background: transparent;
}

/* CHAT INPUT */
.channelTextArea_f75fb0 {
  background-color: transparent;
}

.scrollableContainer__74017 {
  background: none !important;
}

.scrollableContainer__74017 {
  background-color: var(--message-box-transparency) !important;
}

.scrollableContainer__74017 {
  background-color: var(--message-box-transparency) !important;
}

.theme-dark .form_f75fb0:before {
  background: transparent;
}

/* SETTINGS */
.layer__960e4 {
  background-color: transparent;
}

.standardSidebarView__23e6b {
  background-color: transparent;
}

.sidebarRegionScroller__23e6b {
  background-color: transparent;
}

.contentRegion__23e6b {
  background-color: transparent;
}

.contentRegionScroller__23e6b {
  background-color: transparent;
}

/* SETTINGS - PROFILE */
.background__1fed1 {
  background-color: transparent;
}

.fieldList__1fed1 {
  background-color: transparent;
}

/* CHAT SCROLLER */
.auto_d125d2::-webkit-scrollbar-track {
  background-color: transparent;
}

/* SCROLL THUMB */
.auto_d125d2::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

/* EMBEDS */
.embedFull__623de {
  border-left: 4px solid var(--main-theme-color);
  background: var(--embed-background-transparency);
}

/* DAY CONTAINER */
.content__908e2 {
  color: var(--main-theme-color);
  background: transparent;
}

/* ANNOYANCES */
.theme-dark .children__9293f:after {
  background: transparent;
}

.tree-3tCaw8 {
  outline: none;
}

/* #region columns */

/* COLUMNS */
/*.wrapper_ef3116 {
  width: var(--server-listing-width);
}

.scrollerWrap-1IAIlv {
  width: calc(var(--server-listing-width) + 6px);
}

.wrapper_ef3116 .scroller_ef3116 {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  align-content: flex-start;
}

.wrapper_ef3116 .scroller_ef3116 > div:not(.listItem-GuPuDH) > div {
  width: 50px;
  margin-left: 10px;
}

.listItem-GuPuDH {
  width: auto;
  margin-left: 0px;
}

.wrapper_ef3116 .scroller_ef3116 > div.listItem-GuPuDH:nth-child(1) {
  width: 100% !important;
  margin-bottom: 8px;
  margin-left: 2px;
}

.wrapper__58105 {
  height: 54px;
  width: 54px;
}

.pill-31IEus {
  left: -2px;
  position: absolute;
  top: -2px;
}

.wrapper-21YSNc {
  position: relative;
  width: auto;
}

@keyframes rainbow {
  0% {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.item__58105 {
  animation: var(--unread-server-animation) 3s linear infinite;
  border: 2px solid var(--main-theme-color);
  background: transparent;
  border-radius: 100%;
  display: block;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  top: -2px;
  right: 3px !important;
  width: 48px;
  height: 48px !important;
  transform: none !important;
}

.wrapper_ef3116
  .scroller_ef3116
  > div.listItem-GuPuDH:nth-child(1)
  .item__58105 {
  opacity: 0 !important;
}

.item__58105:not([style*="height: 8px"]) {
  border-color: transparent;
  background-color: initial;
}

.pill-1m5BUr {
  display: none;
}

.wrapper_ef3116 .scroller_ef3116 > div {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.tutorialContainer-2sGCg9 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.expandedFolderBackground-2sPsd- {
  left: 0px;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH {
  right: 5px;
}*/

/* #endregion */

/* VIDEO / SCREEN BUTTONS */
.button_e131a9.buttonColor_e131a9,
.button_e131a9 .buttonColor_e131a9 {
  background-color: var(--video-screen-button-background-color);
  color: var(--video-screen-button-foreground-color);
}

.button_e131a9.buttonColor_e131a9:hover,
.button_e131a9 .buttonColor_e131a9:hover {
  background-color: var(--video-screen-button-background-hovor-color);
  color: var(--video-screen-button-foreground-hovor-color);
}

/* FRIEND ACTIVITY */
.wrapper__00943 {
  background-color: rgba(200, 200, 200, 0.1);
}

.theme-dark .inset_bf1984 {
  background-color: rgba(200, 200, 200, 0.1);
}

.emptyCard__7e549 {
  background: transparent;
}

/* FRIEND CALL/MESSAGE BUTTONS */
.actionButton_f8fa06 {
  background-color: transparent;
}

/* Message Hover buttons */
.wrapper_f7ecac {
  background-color: var(--message-hover-buttons-background);
}

/* Context menu */
.menu_c1e9c4 {
  background: var(--context-menu-transparency);
}

.circleIconButton__5bc7e {
  color: var(--add-discover-icon-color);
  background-color: var(--add-discover-icon-transparency);
}

/* Loading chat placeholder */
.wrapper-22ayhK {
  background-color: transparent;
}

.wrapper_fc8177 {
  background-color: transparent;
}

/*Channel Limit*/
.wrapper__260e1 {
  color: var(--channel-limit-count-color);
}

/* Background left */
.users__260e1 {
  background-color: var(--channel-limit-background-left);
}

/* Background right */
.total__260e1:after {
  border-right-color: var(--channel-limit-background-left);
}

.total__260e1 {
  background-color: var(--channel-limit-background-right);
}

/* Info Modal */
.theme-dark .root__49fc1 {
  box-shadow: none;
}

.theme-dark .footer__3ec70 {
  background-color: transparent;
  box-shadow: none;
}

/* Channel category color */
.wrapper__29444:not(.muted__29444)
.name__29444.container__13cf1
.overflow__82b15 {
  color: var(--main-theme-color);
}

.wrapper__29444 {
  color: var(--main-theme-color);
}

.mainContent__29444 .container__13cf1 {
  color: var(--main-theme-color);
}

.wrapper__29444.muted__29444:hover .icon__29444,
.wrapper__29444.muted__29444:hover .name__29444,
.wrapper__29444:hover .icon__29444,
.wrapper__29444:hover .name__29444.container__13cf1.text__13cf1
.overflow__82b15 {
  color: var(--category-hover-color);
}

/* Member Role title color */
.membersGroup_c8ffbb {
  color: var(--member-listing-role-color);
}

/* Channel scroller */
.thin__99f8c::-webkit-scrollbar-track {
  border-color: transparent;
  background-color: transparent;
  border: transparent;
}

.thin__99f8c::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

/* Small user popout */
.userPopout-2j1gM4 {
  background-position: var(--small-user-popout-background-image-position);
  background-image: var(--small-user-popout-background-image);
}

.theme-dark .headerNormal-1mX3KY {
  background-color: var(--small-user-popout-background-transparency);
}

.headerPlaying-j0WQBV {
  background: var(--small-user-popout-background-transparency);
}

.headerTop-2cWpdB {
  background-color: initial;
  border-bottom: none;
}

.headerSpotify-zpWxgT {
  background: var(--small-user-popout-background-transparency);
}

.theme-dark .body-2wLx-E,
.theme-dark .footer-1N3bR3 {
  background-color: var(--small-user-popout-background-transparency);
  color: hsla(0, 0%, 100%, 0.8);
}

/* New small user popout */

.userPopout-3fydSP {
  background-position: var(--small-user-popout-background-image-position);
  background-image: var(--small-user-popout-background-image);
}

.userPopoutInnerWithBanner-wsoegj,
.userPopoutInnerNonPremium-3zrFkp {
  background: var(--small-user-popout-background-transparency);
}

/* For the background of the content, using darker color from message transparency variable */
.overlayBackground-arbZMT {
  background-color: var(--message-box-transparency);
}

/* For the background of the badges, same as above */
.profileBadges-31rDHI {
  background-color: var(--message-box-transparency);
}

/* For the background of the whole preview in user profile settings */
.profileCustomizationPreview-2-Y173 {
  background: rgba(0, 0, 0, 0.2);
}

.overlayBackground-H1K9ZY,
.profileBadges-1GBCVy {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Add note */
.textarea_dde0a8:focus {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Big user popout */
.root-8LYsGj {
  background-position: var(--big-user-popout-background-image-position);
  background-image: var(--big-user-popout-background-image);
  background-color: transparent;
}

/* Default header */
.topSection-13QKHs {
  background-color: var(--big-user-popout-background-transparency);
}

.topSectionPlaying-1J5E4n {
  background: var(--big-user-popout-background-transparency);
}

.topSectionSpotify-1lI0-P {
  background: var(--big-user-popout-background-transparency);
}

.topSectionStreaming-1Tpf5X {
  background: var(--big-user-popout-background-transparency);
}

.body-1Ukv50 {
  background-color: var(--big-user-popout-background-transparency);
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
  border-top-color: transparent;
}

.tabBarContainer-sCZC4w {
  border-top: none;
}

/* Upload Dialog */
.theme-dark .uploadModal_dbca3c {
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: none;
}

.theme-dark .footer_dbca3c {
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: none;
}

/* Role Listing */
.scroller_ff90b2 {
  background-color: transparent;
}

/* Moderation Listings */
.item-2idW98 {
  background-color: transparent;
}

.item-2idW98[aria-checked="true"] {
  background-color: rgba(200, 200, 200, 0.1);
}

/* Uploaded file in chat */
.fileWrapper__0ccae {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Mentions */
.mentioned__5126c:before {
  background-color: var(--mention-sider);
}

.mentioned__5126c {
  position: relative;
  background-color: var(--mention-color);
}

.message__5126c.mentioned__5126c.selected__5126c,
.mouse-mode.full-motion .mentioned__5126c:hover {
  background-color: var(--mention-hover-color);
}

/* Code Markup */
.markup__75297 code {
  background: var(--code-markup-background-color);
  border: var(--code-markup-border);
}

/* quote */
.blockquoteDivider__75297 {
  background-color: var(--main-theme-color);
}

/* Library page */
.scroller__4a84a {
  background-color: transparent;
}

.header_adb41f {
  background-color: transparent;
  border-bottom: none;
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-3b3xI6 {
  color: #f6f6f7;
  background-color: rgba(200, 200, 200, 0.2);
}

/* Nitro page */
.scroller__244e5 {
  background-color: transparent;
}

.applicationStore_f07d62 {
  background-color: transparent;
}

.wrapper_cb9592.minimum_cb9592 {
  height: 240px;
  background-color: initial;
}

.content_f75fb0:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.theme-dark .perksModal-fSYqOq {
  background-color: initial;
}

/* Unread Message Divider */
.isUnread__908e2 {
  border-color: var(--unread-message-divider-color);
}

.unreadPill__908e2 {
  color: var(--unread-message-divider-font-color);
  background-color: var(--unread-message-divider-color);
}

.unreadPillCapStroke__908e2 {
  color: var(--unread-message-divider-color);
  fill: var(--unread-message-divider-color);
}

/* New Messages Bar */
.newMessagesBar__0f481 {
  background-color: var(--new-messages-bar-background-color);
}

.newMessagesBar__0f481 button {
  color: var(--new-messages-bar-font-color);
}

/* Emoji Menu */
.emojiPicker_c0e32c {
  background-color: var(--emoji-menu-background-color);
}

.contentWrapper__08434 {
  background-color: var(--emoji-menu-background-color);
}

.header_c0e32c {
  background-color: var(--emoji-menu-background-color);
}

.wrapper__4e6ce {
  background-color: var(--emoji-menu-sider-background-color);
}

.unicodeShortcut_b9ee0c {
  background-color: var(--emoji-menu-bottom-bar-background-color);
}

.inspector_aeaaeb {
  background-color: var(--emoji-menu-bottom-bar-background-color);
}

.wrapper__14245 {
  background-color: var(--emoji-menu-server-header-background-color);
}

.container_fea832 {
  background-color: var(--emoji-menu-search-bar-background-color);
}

/* Search */
.theme-dark .container__55c99 {
  background-color: var(--message-search-menu-background-color);
}

.theme-dark .elevationBorderHigh__2b2f1 {
  box-shadow: none;
}

.theme-dark .option-2KkUJO.selected-rZcOL-:after {
  background: none;
}

.theme-dark .option-2KkUJO:after {
  background: none;
}

.searchResultsWrap_a9e706 {
  background-color: var(--message-search-container-background-color);
}

.searchHeader_f3b986 {
  background-color: transparent;
}

.channelName-3w2Y3c {
  background: transparent;
}

.searchResult__02a39 {
  background-color: var(--message-search-result-background-color);
}

.wrapper__58105 {
  overflow: visible;
}

.expandedFolderBackground-1cujaW {
  left: 1px;
}

.wrapper_ef3116
.scroller_ef3116
div
.listItem-GuPuDH
.pill_ed9a5f
.item__58105 {
  opacity: 0 !important;
}

.tree_ef3116:focus {
  outline: none;
}

/* unread text channel color */
.modeUnreadImportant__2ea32 .name__2ea32 {
  color: var(--unread-text-channel-color);
}

/* Unread text channel bubble */
.unread__2ea32 {
  background-color: var(--unread-text-channel-bubble-color);
}

/* channel hover */
.modeMuted__2ea32:hover .name__2ea32,
.wrapper__2ea32:hover .name__2ea32 {
  color: var(--text-voice-channel-hover-color);
}

/* Channel color */
.name__2ea32 {
  color: var(--text-voice-channel-color);
}

/* Folder colors */
.expandedFolderBackground__48112 {
  background-color: var(--expanded-folder-background-color);
}

.folder__48112 {
  background-color: var(--folder-background-color);
}

/* Friend activity */
.container__7d20c {
  background-color: transparent;
}

.section__00943 {
  background-color: transparent;
}

.theme-dark .outer_bf1984.active_bf1984,
.theme-dark .outer_bf1984.interactive_bf1984:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.reaction_f8896c {
  background: var(--reaction-emoji-background-color);
}

.reaction_f8896c:hover {
  background-color: var(--reaction-emoji-hover-background-color);
  border-color: var(--reaction-emoji-hover-border-color);
}

.stageSection-3mAD8V {
  background: transparent;
}

.theme-dark .container-S9SaVf {
  background-color: rgba(255, 255, 255, 8%);
}

.theme-dark .container-S9SaVf:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.titleContainer_e29cd7 {
  background-color: transparent;
}

.header-6h98Y_ {
  background-color: transparent;
}

.modeSelected__2ea32 .name__2ea32,
.modeSelected__2ea32:hover .name__2ea32 {
  color: var(--text-voice-channel-selected-text-color);
}

html {
  font-size: var(--font-size) !important;
}

.reaction_f8896c {
  border: var(--reaction-emoji-border-color);
}

.folderIconWrapper-1_bOZe {
  border-radius: 100%;
}

.folder-1hbNCn {
  border-radius: 100%;
}

.wrapper_cb9592 {
  background-color: transparent;
}

.aboutMeSection---MkQa {
  background-color: transparent;
}

.bodyInnerWrapper-2bQs1k {
  background-color: transparent;
}

.headerTop-3GPUSF {
  background-color: var(--small-user-popout-background-transparency);
}

.footer__0eeee {
  background-color: var(--small-user-popout-background-transparency);
  margin-top: 0;
}

.threadSidebar-1o3BTy {
  background: transparent;
}

.container__9271d {
  background-color: transparent;
}

.callContainer_cb9592 {
  background: transparent;
}

.profileBannerPreview-3_l0Wd .headerTop-3GPUSF {
  background-color: rgb(0, 0, 0, 0);
}

.pill_ed9a5f .item__58105 {
  opacity: 0 !important;
}

.theme-dark .autocomplete__13533 {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.theme-dark .selected-3H3-RC {
  background-color: rgba(200, 200, 200, 0.15);
}

.translate-PeW1wK.didRender-2SiRlm .emojiPicker_c0e32c {
  background-color: var(--emoji-menu-background-color);
}

/*
.tutorialContainer__1f388 .childWrapper__6e9f8 {
  background: var(--home-icon-image) !important;
  background-position: var(--home-icon-image-position) !important;
  background-repeat: no-repeat !important;
  background-size: var(--home-icon-image-zoom) !important;
}

.tutorialContainer__1f388 .wrapper_cc5dd2 .childWrapper__6e9f8 svg {
  visibility: hidden;
}

.homeIcon-tEMBK1 {
  visibility: hidden;
}

.tutorialContainer__1f388
  .listItem__650eb
  .listItemWrapper_dfb2f8
  .wrapper__8436d
  svg {
  opacity: 0;
}

.tutorialContainer__1f388 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tutorialContainer__1f388 .listItem-GuPuDH {
  right: 5px;
}

.listItem__650eb {
  width: initial;
}
*/

.expandedFolderBackground__48112 {
  left: 0px;
}

.folder__48112,
.folderIconWrapper__48112 {
  border-radius: 100%;
}

.container_c8ffbb {
  background: transparent;
}

.guildSeparator__252b6 {
  background-color: transparent;
}

.wrapper__0d1ef {
  background-color: transparent;
}

.avatar-3QF_VA {
  background-color: transparent;
}

.footer-3naVBw {
  background-color: var(--small-user-popout-background-transparency);
  margin-top: 0px;
}

.container__01ae2 {
  background: transparent;
}

.chatTarget__01ae2.container__01ae2.floating__01ae2 {
  background-color: var(--theme-transparency);
}

.connectedAccountContainer-SlCC-S {
  background-color: transparent;
}

.header_f37cb1 {
  box-shadow: none;
}

.searchBar__97492 {
  background-color: rgba(0, 0, 0, 0.2);
}

.reaction_f8896c {
  background: var(--reaction-emoji-background-color);
}

.reaction__23977 {
  background: var(--reaction-emoji-background-color);
}

.reaction_f8896c:hover {
  background-color: var(--reaction-emoji-hover-background-color);
  border-color: var(--reaction-emoji-hover-border-color);
}

.reaction__23977:hover {
  background-color: var(--reaction-emoji-hover-background-color);
  border-color: var(--reaction-emoji-hover-border-color);
}

.reaction_f8896c {
  border: var(--reaction-emoji-border-color);
}

.bannerSVGWrapper-qc0szY {
  margin-bottom: -3px;
}

.bannerSVGWrapper-qc0szY mask:first-child {
  display: none;
}

.theme-dark .background_c54132 {
  background-color: transparent;
}

.card_d4f6c7 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.interactiveCard_d92364 {
  border: 0;
}

.container_c68a2c {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.icon_ac2d0d {
  background-color: transparent;
}

.icon_ac2d0d {
  border: 0;
}

.container__29699 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.emptyStateContainer__08276 {
  background-color: transparent;
}

.theme-dark .container-3wLKDe {
  background-color: transparent;
}

.container__34c2c {
  background-color: transparent;
  border: 0;
}

.divider_ee23ac {
  background-color: transparent;
}

.container-2_J666 {
  background-color: transparent;
}

.stepContainer-SaPPyG {
  background-color: transparent;
}

.mainCard_f369db {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
}

.sidebarCard-1Gn1ch {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
  border: 0;
}

.member_c8ffbb,
.members_c8ffbb {
  background-color: transparent;
}

.scroller_ef3116 {
  background: none !important;
}

.theme-dark .container__2637a {
  background: none !important;
}

.container_e131a9 {
  background: none !important;
}

.container__37e49 {
  background: none !important;
}

.chatContent_f75fb0 {
  background: none !important;
}

.scroller__99e7c {
  background: none !important;
}

.theme-dark .panel__5dec7 {
  background: none !important;
  background-color: transparent;
}

.wrapper_d852db {
  background: transparent;
}

.layer__960e4 {
  background: transparent;
}

.codeView__4d95d {
  background-color: var(--code-markup-background-color);
  border: var(--code-markup-border);
}

.newMosaicStyle__4d95d .codeView__4d95d {
  margin: 0;
}

.modalTextContainer__4d95d {
  background-color: var(--code-markup-background-color);
  border: var(--code-markup-border);
}

.contentWrapper_eab878 {
  background-color: var(--emoji-menu-background-color);
}

.theme-dark .page_c791b2 {
  background-color: transparent !important;
}

.theme-dark .container_c791b2 {
  background-color: transparent;
}

.mainTableContainer__09a38 {
  background-color: transparent;
}

.theme-dark .container_c2efea {
  background-color: transparent;
}

.shop__6db1d {
  background-color: transparent;
}

.modeUnreadImportant__2ea32 .name__2ea32 {
  color: var(--unread-text-channel-color);
}

.wrapper_fc8177 {
  background: transparent;
}

.container_f369db {
  background: transparent;
}

.container__9293f {
  --__header-bar-background: transparent;
}

.theme-dark .themed__9293f {
  background: transparent;
}

.stackedBars__74017 {
  background-color: var(--message-box-transparency);
}

.replyBar__841c8 {
  background-color: transparent;
}

.header_fed6d3 {
  background-color: transparent;
}

.button_e6e74f {
  background: var(--message-box-transparency);
}

.footer__214dc {
  background-color: transparent;
}

.gradient_f8ec41 {
  background-color: transparent;
}

.footer__214dc {
  background-color: transparent;
}

.gradient_f8ec41 {
  background-color: transparent;
}

.footer__214dc {
  background-color: transparent;
}

.gradient_f8ec41 {
  background-color: transparent;
}

.channelChatWrapper_cb9592 {
  background-color: transparent;
}

.resizeHandle__01ae2 {
  background-color: transparent;
}

.floating__01ae2 {
  background-color: color-mix(
          in srgb,
          var(--theme-transparency),
          transparent 20%
  );
}

.chatHeaderBar_a5700d.narrow_a5700d {
  background-color: transparent;
}

.theme-dark .content__37e49 {
  background: transparent;
}

.theme-dark .scrollerContainer_c6b11b, .theme-dark .emptyPage__5d7c9 {
  background-color: #00000000;
}

.theme-dark .container__0b563, .theme-dark .header__0b563 {
  background-color: #00000000;
}

.prompt__5d7c9 {
  background: 0 0;
  border-color: rgb(132 132 132 / 18%) !important;
}

.channelRow_e4503a {
  background: rgb(80 80 80 / 20%);
}

.mainPageScroller_ca1a02.auto_d125d2.scrollerBase_d125d2 {
  background: 0 0;
}

.container_da4aee.giftNitro_ca1a02 {
  background: 0 0;
}

.textContainer_da4aee {
  background: 0 0 !important;
}

.pageWrapper__6db1d.pageWrapperBackgroundPrimary__36469 {
  background: 0 0;
}

.shopScroll__6db1d.shopScrollBackgroundPrimary__28f1d.thin_d125d2.scrollerBase_d125d2 {
  background: 0 0;
}

.wrapper_d5f3cd {
  background: #00000087;
  border-radius: 15px;
}

.messages__1ccd1 {
  background: #4040404a;
}

.category_d7acc7 {
  background: #b1b1b11c;
}

article.container_d9c848.hasImage_d9c848.clickable_d9c848.animatesOnHoverContainer_d9c848 {
  background: #0000008f;
}

article.container_d9c848.clickable_d9c848.animatesOnHoverContainer_d9c848 {
  background: #0000008f;
}

.container_f9d8eb {
  background: #0000008f;
}

.scrollerContainer_cdb2b0 {
  background: 0 0;
}

.bannedUser_cdb2b0 {
  background: #0000009c;
}

.developerPortalCtaWrapper_bf485f {
  background: 0 0;
}

.analyticsCard__5931c {
  background: #0000008f;
}

.tierBody_f15dca {
  background: #0000008f !important;
}

.tierHeaderUnlocked_f15dca.tierHeader_f15dca {
  background: #b1b1b11c;
}



/*family page*/
.container__5dbf8{
  background: 0 0
}

.container__8e680 {
  background: 0 0;
}

.container__5b321.max-width__5b321 {
  background: #0000008f;
}

.billingInformation_e335a7.detailsBlock_e335a7 {
  background: #0000008f;
}

.item__001a7.itemFilled__001a7 {
  background: rgba(38, 38, 38, 0.07);
}

/*about me   + the server template description*/
input.inputDefault__0f084.input__0f084,.bioTextArea__6a919.scrollableContainer__74017.themedBackground__74017.webkit__8d35a, [placeholder="What can people do in this server?"] {
  background: var(--message-box-transparency);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #3a3a3a;
}

/*connection page*/
.connection_c7f964 {
  background: #0000008f;
}

.connectionHeader_c7f964 {
  background: #b1b1b11c;
}

.connectContainer_c7f964 {
  background: #b1b1b11c;
}

/*ps5 container*/
.container__0d793 {
  background: #b1b1b11c;
}

/*silly display on appearance page*/
.themeSelection__36dee.defaultThemeSelection__36dee.darkIcon__36dee[tabindex="0"] {
  background-image: var(--theme-background-image);
  background-size: cover;
}

/* Change Dark mode popup label | s-k-y-l-i */
.notAppAsidePanel_a3002d:has(.themeSelection__36dee.defaultThemeSelection__36dee.darkIcon__36dee[tabindex="0"]:hover) .tooltipContent__382e7 {
  margin-right: 15px;
  margin-left: 15px;
  color: transparent;
}
.notAppAsidePanel_a3002d:has(.themeSelection__36dee.defaultThemeSelection__36dee.darkIcon__36dee[tabindex="0"]:hover) .tooltipContent__382e7::after {
  content: "Purrrple";
}

.tooltipContent__382e7::after{
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 14px;
  text-align: center;
  color: var(--text-normal);
}

/*manage members roles tab*/
.header_c6bf1b {
  background: 0 0;
}

/*server template*/
.descriptionBox__981f7 {
  background: 0 0;
}

/*copy input*/
.copyInputDefault_e19ebf.copyInput_fffc15 {
  background: var(--message-box-transparency);
}

/*dropdown*/
.select__3f413.lookFilled__3f413 {
  background: 0 0;
}

/*dropdown options*/
.popout__3f413.none_d125d2.scrollerBase_d125d2 {
  background: #000000b8;
}

/*integrations bot settings*/
.cardHeader_b44011 {
  background: 0 0;
}

.featureCard_bebc5b {
  background: #000000b8;
}

/*it looked out of place, server subscriptions tab*/
img[src="/assets/28b4faf3d09b5372dfcb.svg"]{
  border-radius: 25px;
}

/*upsell containers*/
.howItWorksContainer_aa72d6 {
  background: #00000087;
}

.howItWorksCard_aa72d6.card_ea91d1 {
  background: #b1b1b11c;
}

.howItWorksImageContainer_aa72d6 {
  background: 0 0;
}

.card_ea91d1{
  background: #00000087;
}

/*voice options*/
svg.notches_e5cdf3.gray_e5cdf3 {
  color: #0000 !important;
}

.wrapper_e5cdf3 {
  height: 28px !important;
}

.cameraWrapper_d41d5f {
  background: #00000087;
}

/*the soundboard thing*/
.soundButtonSettingContainer__84bad {
  background: #b1b1b11c;
}

/*accessibility tab*/
.previewMessage__5d148 {
  background: 0 0;
}

/*vencord checkbox*/
.container__87bf1:not(.checked__87bf1) {
  background-color: #dadada26 !important;
}

.container__87bf1.default-colors.checked__87bf1{
  background-color: var(--green-360) !important;
}

/*appearance*/
.preview__3e443.marginBottom40_fd297e.group-spacing-16.cardPrimary__73069.card__73069.outline__73069 {
  background: 0 0;
}

/*weird scrollbar bottom cover remover*/
.theme-dark .form_f75fb0:before, .theme-dark .form_f75fb0:after {
  background: none;
}

/*rightclick radius*/
.colorDefault_c1e9c4 {
  border-radius: 10px;
}

/*voicechat panels*/
:root {
  --custom-base-tile-border-radius: 20px;
}

/*signout panels*/
svg.artwork_eb4069 {
  display: none;
}

div[class="marginBottom20_fd297e"] > div[class="input__0f084 input_d64f22"]{
  background: 0 0;
}

form.authBoxExpanded_dc6abe.authBox_dc6abe.theme-dark {
  background: #1d1d1d75;
}

/*discord loading page*/
.container_a2f514.fixClipping_efbae7{
  background: 0 0;
}

/*boost page*/
.outerContainer__2055a {
  background: 0 0;
}

.wave__8e08c {
  fill: #00000070;
}

.guildContainer__5dba5 {
  background: #28282842;
}

.boostContainer_ceb06a {
  background: #28282842;
}

.wrapper__37ae5 {
  background: #28282842;
}

.wrapper__5b98e.faq__744ff {
  background: #28282842;
}

/*small profile popout*/
.messageInputContainer_f2c0a8 {
  border: none;
}

/*voice chat window "alone"*/
.root__4ad81.tile__90dc5 {
  background: #28282842;
}

/*reply bar in chat*/
.replyBar__841c8, .threadSuggestionBar__841c8 {
  background: none !important
}

/*old texts*/
.stackedBars__74017 {
  background: var(--message-box-transparency) !important
}

/*vencord settings*/
.vc-addon-card:hover {
  --opacity: 0.5;
}

.vc-addon-card {
  background: rgba(0, 0, 0, 0.6) !important
}

/*fixes for app directory*/
.container_d8f25b {
  background: #0b0b0b80;
}

.tierHeader_f15dca {
  background: #13131336;
}

.tierHeaderLocked_f15dca.tierHeader_f15dca {
  background: #161616b8;
}

.wrapper__83b1d {
  background: initial;
}

.directoryContainer_da3f59.thin_d125d2.scrollerBase_d125d2 {
  background: initial;
}

/*round hypesquad banner*/
.membershipDialog__2d899 {
  border-radius: 30px;
}

/*text playground*/
.fullscreen_f8dc05 {
  background-image: var(--theme-background-image) !important;
  background-size: cover !important;
}

.fullscreen_f8dc05 > div {
  background-color: var(--theme-transparency);
  padding: 15px;
  border-radius: 40px;
}

/*voicechat member viewer expand button*/
.expandButton__68617.button__292b6.primary_a41c2a.size24__74630 {
  background: #30303080;
}

/*overlapping old message popup bar*/
.barBase__0f481 {
  margin-bottom: 8px !important;
  padding-bottom: 0;
}

/*scroll bars*/
:root {
  --scrollbar-thin-thumb: oklch(0.6 0.12 321.36 / 0.1) !important;
  --scrollbar-auto-thumb: oklch(0.6 0.12 321.36 / 0.1) !important;
  --scrollbar-thin-track: transparent !important;
  --scrollbar-auto-track: transparent !important;
}

/*polls, gaia from vencord*/
div[class^=pollBadgeDefault] svg path {
  fill: #ffffff !important;
}
div[class^="pollBadgeDefault"] div[class^="text"] {
  color: #ffffff !important;
}
div[class*="pollContainer"] {
  background-color: #00000062 !important;
}
div[class*="pollContainer"]  div[class^="answer"] {
  background: 0 0;
}

/*fix web scrollbars*/
* {
  scrollbar-width: unset !important;
  scrollbar-color: unset !important;
}

/*fixes the user pop out in settings*/
.theme-dark {
  --background-tertiary: #2f31364b;
}

.badgeList__1fed1{
  background: 0 0;
}

/*i forgor*/
.profileBanner_f0f36c {
  background-color: transparent !important;
}

.listItem__39e63 {
  width: initial;
}

.themedBackground__74017{
  background: var(--message-box-transparency)
}

.stackedBars__74017{
    background: var(--message-box-transparency)
}
