/**
 * @name PurplePrune
 * @author computer-catt
 * @description A simple thorough transparent theme
 * @version 0.1.0
 */

@import url(https://raw.githubusercontent.com/Benzeel/Bennys-Css-Snippets/refs/heads/main/TransparentMessagebox.css);

/* config header */
:root, .theme-dark {
    /* if backgrounds are enabled this acts as a background tint*/
    --window-tint: #0005;
    /*--window-tint: #0000;*/

    /* Theme Background, replace with none if you want transparency*/
    --theme-background-image: url(https://github.com/computer-catt/PurplePrune/blob/main/Assets/NightTheme.webp?raw=true);
    /*--theme-background-image: none;*/

    /* Works best with background enabled ^ */
    --enable-blur: 1; /* 0 disables */
    --blur-strength: 4px;

    /* Transparent messagebox options */
    --tm-enable: 1; /* 0 disables */
    --tm-blur: calc(var(--enable-blur) * var(--blur-strength)); /* configure blur here */

    /* Discords theme options */
    --app-frame-background: 0 0 !important;
    --background-base-lowest: 0 0 !important;
    --background-base-lower: 0 0 !important;
    --background-base-low: #00000040 !important;
    --chat-background-default: #0003 !important;
    --background-surface-high: #0004 !important;
    --background-surface-higher: #0005 !important;
    --background-surface-highest: #0006 !important;
    --modal-background: #0003 !important;
    --modal-footer-background: #0004 !important;
    --user-profile-overlay-background: #0003;
    --card-background-default: #0003 !important;
    --background-scrim: #0005;
    --scrollbar-auto-thumb: #fff3;
    --__header-bar-background: 0 0 !important;
}   /* end of config header */

/* set background image */ html {background: var(--theme-background-image); background-size: contain; image-rendering: pixelated}
/* set tint */ body { background: var(--window-tint) !important; image-rendering: auto;}
/* voice chat fixes */ .root_bfe55a, .callContainer_cb9592 {background: 0 0;}
/* i dont member */ .avatarUploaderInnerSquareDisabled_e04502 {background-color: #00000050;}
/* fix discover page */ .bannerContent_b76d57, .container_e9ef78 {mask: linear-gradient(black 70%, transparent);}
/* modal root */ .vc-settings-modal, .container__8a031 {background-color: #0004;}
/* settings main content section, server settings main panel */ .content_e9e3ed, .contentRegion__23e6b, .contentRegionScroller__23e6b {background: 0 0;}
/* fix tinted sidebar in transparent mode */ .sidebarListRounded__5e434 { backdrop-filter: none; -webkit-backdrop-filter: none; }
/* mmm lovely OPINIONATED borders */ .user-profile-popout { border-radius: 32px; > div {border-radius: 28px}}
/* OPINIONATED banner mask */ .banner__68edb { mask: linear-gradient(black 70%, transparent);}
/* voicechat chat popup */ .chatTarget__01ae2.floating__01ae2 { background: #0004;}
/* shiggy code or something */ .vc-shiki-root {background: #0004 !important;}
/* hacky unthemed expanded profiles */ .user-profile-modal-v2:not(.custom-user-profile-theme) { --background-base-lower: #0003 !important; }

@container style(--enable-blur: 1) {
    /* gif picker */ .contentWrapper__08434,
    /* activity center */ .contentWrapper__9c62c,
    /* hmm i wonder*/ .user-profile-popout,
    /* nitro promotion tooltip on home page*/ .tooltip_c36707,
    /* server tooltips */ .tooltip__4e35b,
    /* couldn't gather in a million years 😔 */ .reactionTooltip_b49891,
    /* alt emoji layer */ .wrapper_c0e32c[role="dialog"],
    /* profile dialogs v2+ */ .root__9c3be,
    /* pinned message dialog */ .messagesPopoutWrap_e8b59c, /* fullscreen image modals */
    /* most modal containers */ .container__8a031, .root__49fc1,
    /* user area panel*/ .panels__5e434,
    /* vencord recovery modal and theme manager */ .vc-settings-modal,
    /* message buttons */ .popover_f84418,
    /* search menu */ .container__16eb0,
    /* voicechat chat popup */ .chatTarget__01ae2.floating__01ae2,
    /* channel hover over threads count */ .popout__76f04,
    /* ai summary bullshit */ .topicsDropdown__0f481,
    /* game dialog*/ .container_c3474d,
    /* inbox */ .container_fc561d,
    /* listboxes */ [role="listbox"] {
    backdrop-filter: blur(calc(var(--blur-strength)));
}

    .custom-user-profile-theme { /* cool userprofiles */
        background: transparent;
        position: relative;
        border-radius: 32px;
        &::before{ /* do floating border hack */
            content: "";
            position: absolute;
            inset: 0;
            padding: var(--custom-user-profile-theme-padding);
            border-radius: inherit;
            background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color));
            -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        > div[class^="inner_"] { /* override discord's properties                             v the only number modified, from 100 to 50 to make it more transparent*/
            --profile-gradient-start: color-mix(in oklab,var(--profile-gradient-overlay-color) 35%,var(--profile-gradient-primary-color));
            --profile-gradient-end: color-mix(in oklab,var(--profile-gradient-overlay-color) 35%,var(--profile-gradient-secondary-color));
        }
    }

    /* right click menu blur */ .menu_c1e9c4:before,
    /* top bar */ .barBase__0f481:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        backdrop-filter: blur(var(--blur-strength));
    }
}
